@model IEnumerable<IdentityUser>

<div class="text-center">
    <div class="display-6">Users</div>
</div>
<table class="table table-striped table-hover">
    <div class="d-flex justify-content-end my-3">
        <a class="btn btn-outline-success">
            <i class="fa-solid fa-user-plus"></i>
            Add User</a>
    </div>
    <thead>
        <tr>
            <th>Id</th>
            <th>UserName</th>
            <th>Roles</th>
            <th>Opearions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td user-name="@user.UserName" user-role=""></td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-warning text-white rounded-2" asp-action="Update" asp-controller="User"
                            asp-route-id="@user.UserName">
                            <i class="fa fa-solid fa-edit"></i>Edit</a>
                        <a class="btn btn-info text-white rounded-2" asp-action="ResetPassword" asp-controller="User"
                            asp-route-id="@user.UserName">
                            <i class="fa-solid fa-arrows-rotate"></i>
                            Reset Password</a>
                        <form asp-action="DeleteOneUser" method="post">
                            <input type="hidden" name="UserName" value="@user.UserName">
                            <button type="submit" class="btn btn-danger rounded-2">
                                <i class="fa fa-solid fa-trash"></i>
                                Delete
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>